<html>
<body>

<h1>Mxolisi Buget</h1>

<h3>Income R2000</h3>

<table style="width:100%">
<tr>
    <th>Items</th>
    <th>Amount</th>
 </tr>    
  <tr>
    <td><i class="fa fa-bus" style="font-size:60px;color:#4CAF50;text-shadow:2px 2px 4px #000000;"></i>Transport</td>
    <td>R800</td>

  </tr>
  <tr>
    <td><i class="fa fa-apple" style="font-size:60px;color:#4CAF50;text-shadow:2px 2px 4px #000000;"></i>Food</td>
    <td>R300</td>
  </tr>
  <tr>
    <td><i class="fa fa-phone" style="font-size:60px;color:#4CAF50;text-shadow:2px 2px 4px #000000;"></i>Airtime</td>
    <td>R150</td>
  </tr>
  <tr>
    <td><i class="fa fa-bank" style="font-size:60px;color:#4CAF50;text-shadow:2px 2px 4px #000000;"></i>TFG</td>
    <td>R200</td>
  </tr>
  <tr>
    <td><i class="fa fa-briefcase" style="font-size:60px;color:#4CAF50;text-shadow:2px 2px 4px #000000;"></i>Other Expense</td>
    <td>R500</td>
  </tr>
</table>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</body>
</html>
